@font-face {
    font-family: 'Righteous', cursive;
}

html {
   width:100%;
   height:100%;
}

body {
	color: #0a52a5;
	font-family: 'Righteous', cursive;}

#title {
	font-family: 'Righteous', cursive;
	font-size: 72px;
	text-align: center;
}

.container {
	background-color: transparent;
}

#heading {
	text-align: center;
	background-color: #ff6225;
	color: white;
	margin: 0px;
}

button:hover {
	background-color: #ff6225;
	color: white;
}

#addBurger {
	text-align: right;
	background-size: contain;
	margin: 0px;
}